@page
@model MealPlannerRazor.Pages.CreateMealPlan.MealPlanModel
@using System.Collections.Generic;
@{
}
@{
    var MealplanDays = Model.Mealplan.Zip(Model.DaysOfWeek, (m, d) => new { Recipe = m, Day = d});
}
<h1>Meal Plan</h1>

<h2>Chosen Recipe</h2>

@if (Model == null)
{
    <span>No Items Found</span>
}
else
{
    @foreach (var mealday in MealplanDays)
    {
        <div class="card mt-4" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-header-pills">@mealday.Day</h2>
                <h5 class="card-title">@mealday.Recipe.Name</h5>
                <p class="card-text">@mealday.Recipe.RecipeDirections</p>
            </div>
        </div>
    }


}
