@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>To use this meal planner, you can view, edit, and add recipes using the "Recipes" link, or create a meal plan for the week using the "Create Meal Plan" link.</p>
    </div>
</div>
